.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: 0px auto;
  background: #041f31f5;
  font-family: poppins, sans-serif;
  padding: 15px 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0px auto;
  max-width: 1368px;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}

.title {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  transition: all 1s ease-in-out;
}

.title:hover {
  background: -webkit-linear-gradient(45deg, #00f5a0 0%, #00d9f5 100%);
  -webkit-background-clip: text;
  font-weight: 900 !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline !important;
}

@media screen and (max-width: 380px) {
  .nav-container {
    width: 95%;
    padding: 0 5px
  }

  .title {
    font-size: 14px;
    font-weight: 500;
  }

  .img-logo {
    width: 36px !important;
  }

  .nav-left .btn-gradient {
    font-size: 12px;
    padding: 6px !important;
  }
}

@media screen and (max-width: 440px) {
  .nav-left {
    width: 70%;
  }



}




.main_navbar {
  background-color: #041f31 !important;
  color: #a6d2d3;
  padding: 15px;
}

.contact_btn {
  background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
  border-radius: 6px;
  padding: 8px 16px;
  color: black;
}

.contact_btn:hover {
  color: black;
}

.main_form {
  align-items: center;
}