.banner {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  width: 95%;
  padding: 100px 0;
  align-items: center;
}

.banner-right,
.banner-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.field {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin: 10px 0;
}

.name {
  margin: 10px 0;
  font-weight: 600;
  font-size: 72px;
  line-height: 88px;
  word-wrap: break-word;
  font-size: 72px;
  background: -webkit-linear-gradient(120deg, #00f5a0 0%, #00d9f5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro {
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.04em;
  padding-bottom: 30px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.banner-right .image {
  width: 100%;
  max-width: 500px;
  margin: 0px auto;
}

.arrow-down {
  display: flex;
  width: 100%;
  max-width: 1168px;
  margin: -100 auto;
  justify-content: center;
  margin: auto
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  margin: 10px auto;
  position: relative;
  border-radius: 2px;
}

.btn-gp {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 320px;
}

/* .border {
  position: absolute;
  width: 94px;
  height: 5px;
  left: 0;
  background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
  border-radius: 2px;
  transform: rotate(-90deg);
} */

.about {
  display: flex;
  width: 95%;
  margin: 100px auto;
}


.about-desctiption {
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.04em;
  padding-left: 20px;
  margin: 20px 0;
  border-left-width: 5px;
  border-left-style: solid;
  border-image: linear-gradient(to bottom, #00f5a0, #00d9f5) 1 100%;
}

@media screen and (max-width: 900px) {
  .banner {
    flex-direction: column;
  }

  .banner-right .image {
    margin: 100px auto 0;
  }
}

@media screen and (max-width: 540px) {
  .name {
    font-size: 48px;
    line-height: 64px;
    overflow-wrap: break-word !important;
  }

  .banner-left {
    width: 100% !important;
  }

  .btn-gradient {
    padding: 10px !important;
  }
}

@media screen and (max-width: 480px) {
  .btn-gp {
    width: 100%;
    margin: auto;
    flex-direction: column;
    max-width: none;
    gap: 20px
  }

  .about-desctiption {
    font-size: 14px;
  }

  .intro {
    font-size: 24px;
    line-height: 120%;
  }

  .about-txt {
    font-size: 18px !important;
  }

  .btn-gp .btn-gradient {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .name {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    overflow-wrap: break-word !important;
  }
}

/* Typing*/
.blinkingCursor {
  position: relative;
  font: inherit;
  color: inherit;
  line-height: inherit;
  left: 3px;
  top: 0;
  -webkit-animation-name: blink;
  animation-name: blink;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 1;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}